section {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-color: #f1f0ea;
	font-family: 'Concert One', sans-serif;

	.headerSection .header {
		font-weight: bold;
		font-size: 6rem;
		margin: 0;
	}
}
.announcerSection {
	display: flex;
	flex: row;
	justify-content: space-between;
	padding-right: 1rem;
	padding-left: 1rem;
}

.tictactoeSection {
	display: flex;
	flex-direction: column;
	border: 4px solid #2d232e;

	#tile {
		height: 9.375rem;
		width: 9.375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 6rem;
		color: white;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	}

	.winningTile {
		background-color: #ad343e !important;
	}
	.row1 {
		display: flex;
		flex-direction: row;
		.col1 {
			border: 2px solid #2d232e;
			background-color: #2d232e;
		}
		.col1:hover {
			background-color: #ad343e;
		}
		.col2 {
			border: 2px solid #e0ddcf;
			background-color: #e0ddcf;
		}
		.col2:hover {
			background-color: #ad343e;
		}
		.col3 {
			border: 2px solid #2d232e;
			background-color: #2d232e;
		}
		.col3:hover {
			background-color: #ad343e;
		}
	}
	.row2 {
		display: flex;
		flex-direction: row;

		.col4 {
			border: 2px solid #e0ddcf;
			background-color: #e0ddcf;
		}
		.col4:hover {
			background-color: #ad343e;
		}
		.col5 {
			border: 2px solid #2d232e;
			background-color: #2d232e;
		}
		.col5:hover {
			background-color: #ad343e;
		}
		.col6 {
			border: 2px solid #e0ddcf;
			background-color: #e0ddcf;
		}
		.col6:hover {
			background-color: #ad343e;
		}
	}
	.row3 {
		display: flex;
		flex-direction: row;

		.col7 {
			border: 2px solid #2d232e;
			background-color: #2d232e;
		}
		.col7:hover {
			background-color: #ad343e;
		}
		.col8 {
			border: 2px solid #e0ddcf;
			background-color: #e0ddcf;
		}
		.col8:hover {
			background-color: #ad343e;
		}
		.col9 {
			border: 2px solid #2d232e;
			background-color: #2d232e;
		}
		.col9:hover {
			background-color: #ad343e;
		}
	}
}
.buttonSection {
	margin-top: 2rem;
	display: flex;
	gap: 2.5rem;
	.button {
		font-family: 'Concert One', sans-serif;
		background-color: #e0ddcf;
		border: 2px solid #2d232e;
		color: #2d232e;
		font-size: 2rem;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		cursor: pointer;
	}
	.button:hover {
		background-color: #2d232e;
		color: #e0ddcf;
	}
}

@media screen and (max-width: 520px) {
	section {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		width: 100%;
		background-color: #f1f0ea;
		font-family: 'Concert One', sans-serif;

		.headerSection .header {
			font-weight: bold;
			font-size: 3rem;
			margin: 0;
		}
		.announcerSection {
			display: flex;
			flex: row;
			justify-content: space-between;
		}

		.tictactoeSection {
			display: flex;
			flex-direction: column;
			border: 4px solid #2d232e;

			#tile {
				height: 6rem;
				width: 6rem;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 4rem;
				color: white;
				text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			}
			.winningTile {
				background-color: #ad343e !important;
			}
			.row1 {
				display: flex;
				flex-direction: row;
				.col1 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col1:hover {
					background-color: #ad343e;
				}
				.col2 {
					border: 2px solid #e0ddcf;
					background-color: #e0ddcf;
				}
				.col2:hover {
					background-color: #ad343e;
				}
				.col3 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col3:hover {
					background-color: #ad343e;
				}
			}
			.row2 {
				display: flex;
				flex-direction: row;

				.col4 {
					border: 2px solid #e0ddcf;
					background-color: #e0ddcf;
				}
				.col4:hover {
					background-color: #ad343e;
				}
				.col5 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col5:hover {
					background-color: #ad343e;
				}
				.col6 {
					border: 2px solid #e0ddcf;
					background-color: #e0ddcf;
				}
				.col6:hover {
					background-color: #ad343e;
				}
			}
			.row3 {
				display: flex;
				flex-direction: row;

				.col7 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col7:hover {
					background-color: #ad343e;
				}
				.col8 {
					border: 2px solid #e0ddcf;
					background-color: #e0ddcf;
				}
				.col8:hover {
					background-color: #ad343e;
				}
				.col9 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col9:hover {
					background-color: #ad343e;
				}
			}
		}
		.buttonSection {
			margin-top: 2rem;
			display: flex;
			gap: 2.5rem;
			.button {
				font-family: 'Concert One', sans-serif;
				background-color: #e0ddcf;
				border: 2px solid #2d232e;
				color: #2d232e;
				font-size: 2rem;
				width: 5rem;
				height: 5rem;
				border-radius: 50%;
				cursor: pointer;
			}
			.button:hover {
				background-color: #2d232e;
				color: #e0ddcf;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	section {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		width: 100%;
		background-color: #f1f0ea;
		font-family: 'Concert One', sans-serif;

		.headerSection {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.header {
				font-weight: bold;
				font-size: 2rem;
				margin: 0;
			}
			.announcerSection {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		.tictactoeSection {
			display: flex;
			flex-direction: column;
			border: 4px solid #2d232e;

			#tile {
				height: 4rem;
				width: 4rem;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2rem;
				color: white;
				text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			}

			.winningTile {
				background-color: #ad343e !important;
			}
			.row1 {
				display: flex;
				flex-direction: row;
				.col1 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col1:hover {
					background-color: #ad343e;
				}
				.col2 {
					border: 2px solid #e0ddcf;
					background-color: #e0ddcf;
				}
				.col2:hover {
					background-color: #ad343e;
				}
				.col3 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col3:hover {
					background-color: #ad343e;
				}
			}
			.row2 {
				display: flex;
				flex-direction: row;

				.col4 {
					border: 2px solid #e0ddcf;
					background-color: #e0ddcf;
				}
				.col4:hover {
					background-color: #ad343e;
				}
				.col5 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col5:hover {
					background-color: #ad343e;
				}
				.col6 {
					border: 2px solid #e0ddcf;
					background-color: #e0ddcf;
				}
				.col6:hover {
					background-color: #ad343e;
				}
			}
			.row3 {
				display: flex;
				flex-direction: row;

				.col7 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col7:hover {
					background-color: #ad343e;
				}
				.col8 {
					border: 2px solid #e0ddcf;
					background-color: #e0ddcf;
				}
				.col8:hover {
					background-color: #ad343e;
				}
				.col9 {
					border: 2px solid #2d232e;
					background-color: #2d232e;
				}
				.col9:hover {
					background-color: #ad343e;
				}
			}
		}
		.buttonSection {
			margin-top: 2rem;
			display: flex;
			gap: 2.5rem;
			.button {
				cursor: pointer;
				font-family: 'Concert One', sans-serif;
				background-color: #e0ddcf;
				border: 2px solid #2d232e;
				color: #2d232e;
				font-size: 1.5rem;
				width: 3rem;
				height: 3rem;
				border-radius: 50%;
			}
			.button:hover {
				background-color: #2d232e;
				color: #e0ddcf;
			}
		}
	}
}
